<section data-ng-controller="FilesController">
    <div class="page-header">
        <h1>Files</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/files/create">
        <i class="glyphicon glyphicon-open"></i> New File
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="file in $data">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{file.name}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/files/{{file._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/files/{{file._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(file)" item="file">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
